header {width: 100%;
        height: 100px;
background-color: #ffffff;
border-color: #cccccc;
border-bottom-style: solid;
border-bottom-width: 2px;
position: relative;
}
body {

        
        background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/bgnoise_lg.png");
         
        z-index: 100;}
        
nav {position: absolute;
        height: 40px;
        line-height: 40px;
        left: 62%;
        top: 50px;
        font-size: 26px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;}
        
.name {background-color:#4aaaa5;
        color: #ffffff;
        text-align: center;
         height: 60px;
         line-height: 60px;
         font-size:40px;
         width: 235px;
         position: absolute;
         top: 40px;
         left: 17.25%;
         font-family: 'Georgia', Times, Times New Roman, serif;}

footer {background-color: #666666;
        width: 100%;
        line-height: 50px;
        height:50px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-align:center;
        position: fixed;
        left: 0;
        bottom: -2%;
        border-top-color: #4aaaa5;
        border-top-style: solid;
        border-top-width: 5px;}

.content-box{clear: both;
        background-color:#ffffff;
            width: 960px;
         border-color: #dddddd;
         border-width: 1px;   
         color: #777777;
                margin:auto;
                padding: 20px 20px 20px 20px;
        }
h1{font-family: 'Georgia', Times, Times New Roman, serif;
        font-size: 26px;
        color:#4aaaa5;}
p{font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size:20px;
        line-height: 1.5;
}

#rob{float: left;
     padding: 10px 10px 10px 10px;}
    
     input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Georgia', Times, Times New Roman, serif;}

input[type=email], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: 'Georgia', Times, Times New Roman, serif;}

   .message-box {width: 100%;
                height: 100px;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: 'Georgia', Times, Times New Roman, serif;}

input[type=submit], select {
                width: 80px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
                color: #ffffff;
                background-color: #4aaaa5;}
 .contact-box{clear: both;
                background-color:#ffffff;
                 width: 400px;
                border-color: #dddddd;
                border-width: 1px;   
                color: #777777;
                margin:auto;
                padding: 20px 20px 20px 20px;}

        .gallery{margin: 20px 20px 20px 20px;
                border: 1px solid #ccc;
                float: left;
                width: 300px;
                postion: relative;

                }
        #caption1{position: absolute;
                width: 300px;
                top: 49%;
                left: 19.80%;
                height: 60px;
                line-height:60px;
                background-color: #4aaaa5;
                color: #ffffff;
                font-family: 'Georgia', Times, Times New Roman, serif;
                font-size: 30px;
                text-align: center;
                }
                #caption2{position: absolute;
                        width: 300px;
                        top: 49%;
                        left: 42.30%;
                        height: 60px;
                        line-height:60px;
                        background-color: #4aaaa5;
                        color: #ffffff;
                        font-family: 'Georgia', Times, Times New Roman, serif;
                        font-size: 30px;
                        text-align: center;
                        }
#caption3{position: absolute;
                width: 300px;
                top: 84.6%;
                left: 19.80%;
                height: 60px;
                line-height:60px;
                background-color: #4aaaa5;
                color: #ffffff;
                font-family: 'Georgia', Times, Times New Roman, serif;
                font-size: 30px;
                text-align: center;
                }
                #caption4{position: absolute;
                        width: 300px;
                        top: 84.6%;
                        left: 42.30%;
                        height: 60px;
                        line-height:60px;
                        background-color: #4aaaa5;
                        color: #ffffff;
                        font-family: 'Georgia', Times, Times New Roman, serif;
                        font-size: 30px;
                        text-align: center;
                        }
                        #caption5{position: absolute;
                                width: 300px;
                                top: 119.6%;
                                left: 19.80%;
                                height: 60px;
                                line-height:60px;
                                background-color: #4aaaa5;
                                color: #ffffff;
                                font-family: 'Georgia', Times, Times New Roman, serif;
                                font-size: 30px;
                                text-align: center;
                                }
p.clear{clear:both;}

.portfolio-box{clear: both;
        background-color:#ffffff;
         width: 960px;
         height: 1000px;
        border-color: #dddddd;
        border-width: 1px;   
        color: #777777;
        margin:auto;
        padding: 20px 20px 20px 20px;}

        a:link { color: purple;}
        a:visited { color: gray; }
        a:hover { color: gold; }

        @media (max-width: 980px)
{

        .content-box{clear: both;
                background-color:#ffffff;
                    width: 80%;
                 border-color: #dddddd;
                 border-width: 1px;   
                 color: #777777;
                        margin:auto;
                        padding: 20px 20px 20px 20px;
                }


                nav {position: absolute;
                        height: 40px;
                        line-height: 40px;
                        left: 62%;
                        top: 50px;
                        font-size: 26px;
                        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif

}
.name {background-color:#4aaaa5;
        color: #ffffff;
        text-align: center;
         height: 60px;
         line-height: 60px;
         font-size:40px;
         width: 235px;
         position: absolute;
         top: 40px;
         left: 8.0%;
         font-family: 'Georgia', Times, Times New Roman, serif;}



         .portfolio-box{clear: both;
                background-color:#ffffff;
                 width: 80%;
                 height: 1200px;
                border-color: #dddddd;
                border-width: 1px;   
                color: #777777;
                margin:auto;
                padding: 20px 20px 20px 20px;}

                .gallery{margin: 20px 20px 20px 20px;
                        border: 1px solid #ccc;
                        float: left;
                        width: 300px;
                        position: relative;
        
                        }
                #caption1{position: absolute;
                        width: 300px;
                        top: 56.5%;
                        left: 12.20%;
                        height: 60px;
                        line-height:60px;
                        background-color: #4aaaa5;
                        color: #ffffff;
                        font-family: 'Georgia', Times, Times New Roman, serif;
                        font-size: 30px;
                        text-align: center;
                        }
                        #caption2{position: absolute;
                                width: 300px;
                                top: 56.5%;
                                left: 47.00%;
                                height: 60px;
                                line-height:60px;
                                background-color: #4aaaa5;
                                color: #ffffff;
                                font-family: 'Georgia', Times, Times New Roman, serif;
                                font-size: 30px;
                                text-align: center;
                                }
        #caption3{position: absolute;
                        width: 300px;
                        top: 97.3%;
                        left: 12.20%;
                        height: 60px;
                        line-height:60px;
                        background-color: #4aaaa5;
                        color: #ffffff;
                        font-family: 'Georgia', Times, Times New Roman, serif;
                        font-size: 30px;
                        text-align: center;
                        }
                        #caption4{position: absolute;
                                width: 300px;
                                top: 97.3%;
                                left: 47.00%;
                                height: 60px;
                                line-height:60px;
                                background-color: #4aaaa5;
                                color: #ffffff;
                                font-family: 'Georgia', Times, Times New Roman, serif;
                                font-size: 30px;
                                text-align: center;
                                }
                                #caption5{position: absolute;
                                        width: 300px;
                                        top: 137.6%;
                                        left: 12.20%;
                                        height: 60px;
                                        line-height:60px;
                                        background-color: #4aaaa5;
                                        color: #ffffff;
                                        font-family: 'Georgia', Times, Times New Roman, serif;
                                        font-size: 30px;
                                        text-align: center;
                                        }

}

        @media (max-width: 768px)
        
      { 

        .content-box{clear: both;
                background-color:#ffffff;
                    width: 80%;
                 border-color: #dddddd;
                 border-width: 1px;   
                 color: #777777;
                        margin:auto;
                        padding: 20px 20px 20px 20px;
                }

 nav {position: absolute;
                height: 40px;
                line-height: 40px;
                left: 54%;
                top: 50px;
                font-size: 26px;
                font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif

 }

 .name {background-color:#4aaaa5;
                        color: #ffffff;
                        text-align: center;
                         height: 60px;
                         line-height: 60px;
                         font-size:40px;
                         width: 235px;
                         position: absolute;
                         top: 40px;
                         left: 7.5%;
                         font-family: 'Georgia', Times, Times New Roman, serif;}
                
                         .portfolio-box{clear: both;
                                background-color:#ffffff;
                                 width: 80%;
                                 height: 1500px;
                                border-color: #dddddd;
                                border-width: 1px;   
                                color: #777777;
                                margin:auto;
                                padding: 20px 20px 20px 20px;}

                         .gallery{margin: 20px 20px 20px 20px;
                                border: 1px solid #ccc;
                                float: left;
                                width: 300px;
                                postion: relative;
                
                                }
                        #caption1{position: absolute;
                                width: 300px;
                                top: 56.5%;
                                left: 12.70%;
                                height: 60px;
                                line-height:60px;
                                background-color: #4aaaa5;
                                color: #ffffff;
                                font-family: 'Georgia', Times, Times New Roman, serif;
                                font-size: 30px;
                                text-align: center;
                                }
                                #caption2{position: absolute;
                                        width: 300px;
                                        top: 97.3%;
                                        left: 12.70%;
                                        height: 60px;
                                        line-height:60px;
                                        background-color: #4aaaa5;
                                        color: #ffffff;
                                        font-family: 'Georgia', Times, Times New Roman, serif;
                                        font-size: 30px;
                                        text-align: center;
                                        }
                #caption3{position: absolute;
                                width: 300px;
                                top: 137.6%;
                                left: 12.70%;
                                height: 60px;
                                line-height:60px;
                                background-color: #4aaaa5;
                                color: #ffffff;
                                font-family: 'Georgia', Times, Times New Roman, serif;
                                font-size: 30px;
                                text-align: center;
                                }
                                #caption4{position: absolute;
                                        width: 300px;
                                        top: 177.3%;
                                        left: 12.7%;
                                        height: 60px;
                                        line-height:60px;
                                        background-color: #4aaaa5;
                                        color: #ffffff;
                                        font-family: 'Georgia', Times, Times New Roman, serif;
                                        font-size: 30px;
                                        text-align: center;
                                        }
                                        #caption5{position: absolute;
                                                width: 300px;
                                                top: 217.6%;
                                                left: 12.70%;
                                                height: 60px;
                                                line-height:60px;
                                                background-color: #4aaaa5;
                                                color: #ffffff;
                                                font-family: 'Georgia', Times, Times New Roman, serif;
                                                font-size: 30px;
                                                text-align: center;
                                                }
        


}


@media (max-width: 640px)


{ 
        header {width: 100%;
                height: 100px;
        background-color: #ffffff;
        border-color: #cccccc;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        position: static;
        }
        nav {position: absolute;
                height: 40px;
                line-height: 40px;
                left: 47%;
                top: 50px;
                font-size: 26px;
                font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif

 }

 .name {background-color:#4aaaa5;
                        color: #ffffff;
                        text-align: center;
                         height: 60px;
                         line-height: 60px;
                         font-size:40px;
                         width: 235px;
                         position: absolute;
                         top: 40px;
                         left: 7.0%;
                         font-family: 'Georgia', Times, Times New Roman, serif;}

                         .gallery{margin: 20px 20px 20px 20px;
                                border: 1px solid #ccc;
                                float: left;
                                width: 300px;
                                postion: relative;
                
                                }
                        #caption1{position: absolute;
                                width: 300px;
                                top: 56.5%;
                                left: 13.25%;
                                height: 60px;
                                line-height:60px;
                                background-color: #4aaaa5;
                                color: #ffffff;
                                font-family: 'Georgia', Times, Times New Roman, serif;
                                font-size: 30px;
                                text-align: center;
                                }
                                #caption2{position: absolute;
                                        width: 300px;
                                        top: 97.1%;
                                        left: 13.25%;
                                        height: 60px;
                                        line-height:60px;
                                        background-color: #4aaaa5;
                                        color: #ffffff;
                                        font-family: 'Georgia', Times, Times New Roman, serif;
                                        font-size: 30px;
                                        text-align: center;
                                        }
                #caption3{position: absolute;
                                width: 300px;
                                top: 137.6%;
                                left: 13.25%;
                                height: 60px;
                                line-height:60px;
                                background-color: #4aaaa5;
                                color: #ffffff;
                                font-family: 'Georgia', Times, Times New Roman, serif;
                                font-size: 30px;
                                text-align: center;
                                }
                                #caption4{position: absolute;
                                        width: 300px;
                                        top: 178.1%;
                                        left: 13.25%;
                                        height: 60px;
                                        line-height:60px;
                                        background-color: #4aaaa5;
                                        color: #ffffff;
                                        font-family: 'Georgia', Times, Times New Roman, serif;
                                        font-size: 30px;
                                        text-align: center;
                                        }
                                        #caption5{position: absolute;
                                                width: 300px;
                                                top: 218.5%;
                                                left: 13.25%;
                                                height: 60px;
                                                line-height:60px;
                                                background-color: #4aaaa5;
                                                color: #ffffff;
                                                font-family: 'Georgia', Times, Times New Roman, serif;
                                                font-size: 30px;
                                                text-align: center;
                                                }



}
